body {
  margin: 0;
  padding: 0;
  background-color: #1A374D;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  
  .counterText{
    color: #B1D0E0;
    font-size: 5em;
  }
  .counterButton{
    background-color: #6998AB;
    font-size: 3em;
    color: #fff;
    
  }
}