@import "contactlist";
@import "chatsendingarea";
@import "conversation-content";

body{
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-image: url("../assets/mosaico.png");
}

#__next {
  background-color: #1A374D;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-areas: "chat chat";
  @media screen and (min-width: 425px ) {
    grid-template-areas: "contacts chat";
  }

  .chatGifted {
    grid-area: chat;
    background-color: rebeccapurple;
  }
}

.profileContainer {
  width: 5rem;
  border-radius: 20rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem;

}

.profileText {
  font-size: 1.7rem;
  color: white;
  font-weight: bold;
}
